<div class="log-in">
    <ul class="link_steps">
        <li routerLink="/home">Home</li>
        <li>Log in</li>
    </ul>
    <span class="title">Access Trustfull</span>
    <div class="row">
        <div class="col-md-6">
            <span>Hello, enter your username and password and enter Trustfull</span>
            <form [formGroup]='logInForm' (ngSubmit)="onSubmit()">
                <div class="form-field">
                    <input [class.invalid]="Email.invalid && Email.touched" formControlName='email' name="email" type="text" placeholder=" ">
                    <label for="">Email or number</label>
                </div>
                <div class="form-field password">
                    <input [class.invalid]="Password.invalid && Password.touched" formControlName='password' name="password" [type]="!passwordVisibility ? 'password' : 'text'" placeholder=" ">
                    <label for="">Password</label>
                    <i (click)="passwordVisibility=!passwordVisibility" [class.passwordVisible]="passwordVisibility" class="fa fa-eye" aria-hidden="true"></i>
                </div>
                <div class="submit">
                    <button type="submit" class="btn">Log in</button> or
                    <div class="icon"><i class="fa fa-facebook-official" aria-hidden="true"></i></div>
                    <div class="icon"><i class="fa fa-google" aria-hidden="true"></i></div>
                </div>
            </form>
            <a href="" class="forgot_password">Forgot your password?</a>
        </div>
        <div class="col-md-6">
            <span>B system is a sketch design system created with the proposal of maximizing the performance in the construction of digital touch points.</span>
            <span class="register_text">
                If you don't have account. Please register from <a routerLink='/registration'>here</a> first.</span>
        </div>
    </div>

    <div [class.d-none]="!logined" class="alert">
        Successfully logined
    </div>
</div>