@import '../../../styles.scss';
.log-in {
    padding: 64px $containerDistance;
    border-bottom: 2px solid #F7F7F7;
    .link_steps {
        @include linkSteps;
    }
    .title {
        @include header;
        display: block;
        text-align: center;
    }
    .row {
        margin-top: 40px;
        >div {
            .btn {
                padding: 10px 30px;
            }
            &:first-child {
                .form-field {
                    @include form-field;
                }
                .submit {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 44px;
                    margin-top: 20px;
                    .btn {
                        @include button;
                        height: 100%;
                        width: calc(100% - 120px);
                    }
                    .icon {
                        cursor: pointer;
                        height: 100%;
                        width: 44px;
                        border-radius: 50%;
                        text-align: center;
                        border: 2px solid lightgray;
                        position: relative;
                        i {
                            color: #969696;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            font-size: 16px;
                        }
                    }
                }
                .forgot_password {
                    cursor: pointer;
                    font-size: 15px;
                    line-height: 24px;
                    font-weight: 500;
                    display: inline-block;
                    margin-top: 24px;
                    color: $primaryColor;
                }
            }
            &:last-child {
                .register_text {
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 24px;
                    color: #000000;
                    display: block;
                    a {
                        color: $primaryColor;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        span {
            font-size: 15px;
            line-height: 24px;
            color: #6E6E6E;
            display: block;
            margin-bottom: 20px;
        }
    }
    .alert {
        background-color: #D5FDF1;
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translateX(100%);
        height: 50px;
        font-size: 15px;
        line-height: 24px;
        padding: 15px 25px;
        font-weight: 500;
        font-size: 16px;
        animation: alert 6s ease-in-out;
    }
    @keyframes alert {
        0% {
            transform: translateX(100%);
        }
        50% {
            transform: translateX(-10%);
        }
        100% {
            transform: translateX(100%);
        }
    }
}

@media (max-width:992px) {
    .log-in {
        padding: 64px $containerDistance-md;
    }
}

@media (max-width:992px) {
    .log-in {
        padding: 64px $containerDistance-sm;
    }
}