<footer>
    <div class="create_new_announcement">
        <span>Would u like to start today</span>
        <button routerLink='/create-announcement'>Create New Announcement</button>
    </div>

    <div class="row footer_row">
        <div class="col-md-3">
            <div class="copy_right">
                <h6>Trustfull</h6>
                <p>Organic Design System. &copy; 2019 B_system. All rights reserved example. Customer Service: 010 210 465
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="tags">
                <h6>Tags</h6>
                <span routerLink="/announcements">Announcements</span>
                <span>Contact</span>
                <span>Favorites</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="sosial_media">
                <h6>Social</h6>
                <div class="accounts">
                    <div>
                        <i class="fa fa-instagram" aria-hidden="true"></i> Instagram
                    </div>
                    <div>
                        <i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook
                    </div>
                    <div>
                        <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
                    </div>
                    <div>
                        <i class="fa fa-youtube-play" aria-hidden="true"></i> Youtube
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="contact">
                <h6 id="contacts">Contacts</h6>
                <div>
                    <span>info@pixsellz.io</span>
                    <span>371 Adrien Prairie Suite 538 Palo Alto, CA</span>
                    <span>085-545-0210</span>
                </div>
            </div>
        </div>
    </div>
</footer>