@import '../../../styles.scss';
.create_announcement {
    padding: 50px $containerDistance;
    .link_steps {
        @include linkSteps;
    }
    .create_announcement_title {
        span {
            @include header;
            display: block;
            text-align: center;
            margin: 50px;
        }
    }
    .form_row {
        position: relative;
        >div[class*=col] {
            .form-field {
                @include form-field;
                input[type=file] {
                    display: none;
                }
            }
            .choose_location {
                .form-field {
                    @include form-field;
                }
            }
            .price {
                input {
                    width: 70%;
                }
                select {
                    width: 25%;
                    float: right;
                }
                small {
                    display: block
                }
            }
            .file {
                @include fileUpload;
            }
            button[type=submit] {
                @include button;
                background-color: #00AA79;
                position: absolute;
                right: 0;
                bottom: 16px;
            }
        }
    }
}

@media (max-width:992px) {
    .create_announcement {
        padding: 50px $containerDistance-md;
    }
}

@media (max-width:768px) {
    .create_announcement {
        padding: 50px $containerDistance-sm;
    }
}