<div class="create_announcement">
    <ul class="link_steps">
        <li routerLink="/home">Home</li>
        <li>Create new announcement</li>
    </ul>

    <div class="create_announcement_title"> <span>Create new announcement</span></div>
    <form [formGroup]='announcementForm' (ngSubmit)="onSubmit()">
        <div class="row form_row">
            <div class="col-md-6">
                <div class="form-field">
                    <select [class.invalid]="BusinessActivity.invalid && BusinessActivity.touched" formControlName='businessActivity' name="businessActivity" (change)="businessActivityChanged=true" [class.selected]="businessActivityChanged">
                        <option value="" selected>Select type of business activity</option>
                        <option value="Artist">Artist</option>
                        <option value="Programmer">Programmer</option>
                    </select>
                </div>
                <div class="form-field">
                    <input [class.invalid]="Title.invalid && Title.touched" formControlName='title' name="title" type="text" placeholder=" ">
                    <label for="">Title</label>
                </div>
                <div class="form-field">
                    <textarea [class.invalid]="Description.invalid && Description.touched" formControlName='description' name="description" cols="30" rows="10" placeholder=" "></textarea>
                    <label for="">Description</label>
                </div>
                <div class="form-field">
                    <textarea [class.invalid]="Requirements.invalid && Requirements.touched" formControlName='requirements' name="requirements" cols="30" rows="10" placeholder=" "></textarea>
                    <label for="">Requirements</label>
                </div>
                <div class="form-field">
                    <select [class.invalid]="ServiceType.invalid && ServiceType.touched" formControlName='serviceType' name="serviceType" #serviceType [class.selected]="serviceTypeChanged" (change)="changeServiceType($event.target.value)">
                        <option disabled value="" selected>Choose the type of service</option>
                        <option value="Volunteering">Volunteering</option>
                        <option value="Business">Business</option>
                    </select>
                </div>
                <div [class.d-none]='serviceType.value!="Business"' class="form-field price">
                    <input [class.invalid]="Price.invalid && Price.touched" formControlName='price' name="price" type="number" placeholder=" ">
                    <label for="">Price</label>
                    <select [class.invalid]="Currency.invalid && Currency.touched" formControlName='currency' name="currency" (change)="currencyChanged=true" [class.selected]="currencyChanged">
                        <option value="" selected>Currency</option>
                        <option value="Azn">AZN</option>
                        <option value="Dollar">DOLLAR</option>
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-field">
                    <select [class.invalid]="Location.invalid && Location.touched" formControlName='location' name="location" #location [class.selected]="locationChanged" (change)="changeLocation($event.target.value)">
                        <option disabled value="" selected>Location</option>
                        <option value="Online">Online</option>
                        <option value="Offline">Offline</option>
                    </select>
                </div>

                <div [class.d-none]='location.value!="Offline"' class="choose_location">
                    <div class="form-field">
                        <select [class.invalid]="Region.invalid && Region.touched" formControlName='region' name="region" [class.selected]="regionChanged" (change)="regionChanged=true">
                        <option disabled value="" selected>Choose the region</option>
                        <option value="Baku">Baku</option>
                        <option value="Quba">Quba</option>
                    </select>
                    </div>
                    <div class="form-field">
                        <input [class.invalid]="AdditionalLocationInfo.invalid && AdditionalLocationInfo.touched" formControlName='additionalLocationInfo' name="additionalLocationInfo" type="text" placeholder=" ">
                        <label for="">Additional Location Info</label>
                    </div>
                </div>

                <div class="file form-field">
                    <input accept="image/*" formControlName='servicePhoto' (change)="servicePhotoUpload($event)" type="file" #fileUpload>
                    <div [class.invalid]="ServicePhoto.invalid && ServicePhoto.touched" class="upload_file">
                        <span>{{ServicePhoto.value}}</span>
                        <button (click)="fileUpload.click()" type="button" class="btn">Upload Service Photo
                        <i class="fa fa-upload" aria-hidden="true"></i>
                    </button>
                    </div>
                </div>
                <div class="form-field" formArrayName="introductionLinks" *ngFor="let item of IntroductionLinks['controls']; index as i">
                    <div [formControlName]="i">
                        <input type="text" placeholder=" ">
                        <label for="">Service introduction link</label>
                    </div>
                </div>
                <span (click)="addIntroductionLink()" class="add_file_text">+ Add other introduction video link</span>

                <mat-form-field id="date_range">
                    <mat-label>Enter announcement date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Start date">
                        <input matEndDate placeholder="End date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>

                <button class="btn" type="submit">Create</button>
            </div>
        </div>
    </form>



</div>