<div class="home">
    <div class="row slogan">
        <div class="col-xl-6 col-lg-8 slogan_title">
            <h1>Let your talent lead your future</h1>
        </div>
        <div class="col-xl-4 col-lg-3 offset-lg-1 offset-xl-2 slogan_description">
            <i class="fa fa-user-o" aria-hidden="true"></i>
            <span>We offers a great working environment, all the ingredients needed to make your working day at everis something interesting.</span>
        </div>
    </div>
    <div class="banner row">
        <div class="banner_text order-2 order-lg-1 col-lg-6">
            <div>
                <h2>WELCOME TO TRUSTFULL</h2>
                <span>We are going to give you the boost you need to unleash your most daring side, without hesitation. Live the challenge  you need to unleash your most daring side</span>
                <button class="btn">About Us</button>
            </div>
        </div>
        <div class="col-lg-6  order-1 order-lg-2 banner_img">
            <img src="../../../assets/images/Untitled.png" alt="logo">
        </div>
    </div>
    <div id="announcement" class="announcement_title">
        Find your job and apply instantly
    </div>
    <app-announcement></app-announcement>
    <div class="client_opinion">
        <span class="client_opinion_title">The opinion of our clients</span>
        <div class="row">
            <div class="col-xl-4 col-lg-6 mb-2" *ngFor="let item of [0,1,2]">
                <div class="card">
                    <div class="card-img-top">
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            "Our greatest glory is not in never failing, but in getting up every time we fall. All your dreams can come true.”
                        </div>
                        <div class="client">
                            <img src="https://www.jeancoutu.com/globalassets/revamp/photo/conseils-photo/20160302-01-reseaux-sociaux-profil/photo-profil_301783868.jpg" alt="clientPhoto">
                            <div class="client_info">
                                <b>Jack Golpe</b>
                                <span>Marketing manager</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>