<div class="announce_detail">
    <ul class="link_steps">
        <li routerLink="/home">Home</li>
        <li>Announcement detail</li>
    </ul>
    <div class="announce_detail_title">
        <div>
            <span *ngIf="announcement.serviceType">Online</span>
            <span *ngIf="!announcement.serviceType">Offline</span> {{announcement.name}}
            <span *ngIf="announcement.price==0">for free</span>
        </div>
        <div class="rating">
            <i [class.activeRate]="i<=activeRate" *ngFor="let item of [0,1,2,3,4];index as i" (mouseover)="hoverStar(i)" (mouseleave)="leaveStar(i)" (click)="rate(i)" class="fa fa-star" aria-hidden="true"></i>
        </div>
    </div>
    <div *ngIf="!!announcement.imgUrl" class="announcement_img">
        <img [src]="announcement.imgUrl" alt="photo">
    </div>
    <div class="announcement_info">
        <div class="key-value">
            <span class="key">Type</span>
            <span class="value" *ngIf="announcement.price==0">Volunteering service</span>
            <span class="value" *ngIf="announcement.price!=0">Business service</span>
        </div>
        <div class="key-value">
            <span class="key">Location</span>
            <span class="value" *ngIf="announcement.serviceType">Online</span>
            <span class="value" *ngIf="!announcement.serviceType">Baku</span>
        </div>

        <div class="about_announcement">
            <div class="title">
                <span>About Announcement</span>
                <i [class.d-none]="aboutOpenState" (click)="aboutOpenState=true" class="fa fa-angle-down" aria-hidden="true"></i>
                <i [class.d-none]="!aboutOpenState" (click)="aboutOpenState=false" class="fa fa-angle-up" aria-hidden="true"></i>
            </div>
            <p [class.d-none]="!aboutOpenState">{{announcement.description}}</p>
        </div>
        <div class="announcement_requirement">
            <div class="title">
                <span>Requirements</span>
                <i [class.d-none]="requirementOpenState" (click)="requirementOpenState=true" class="fa fa-angle-down" aria-hidden="true"></i>
                <i [class.d-none]="!requirementOpenState" (click)="requirementOpenState=false" class="fa fa-angle-up" aria-hidden="true"></i>
            </div>
            <p [class.d-none]="!requirementOpenState">B system is the design system that will help you create your digital brand and its application to digital touch points.</p>
        </div>
        <div class="videos">
            <div class="title">
                <span> Videos</span>
                <i [class.d-none]="videoOpenState" (click)="videoOpenState=true" class="fa fa-angle-down" aria-hidden="true"></i>
                <i [class.d-none]="!videoOpenState" (click)="videoOpenState=false" class="fa fa-angle-up" aria-hidden="true"></i>
            </div>
            <div class="row video_row" [class.d-none]="!videoOpenState">
                <div class="col-sm-6 col-lg-4 col-xl-3 mb-3" *ngFor="let item of [0,1,2,3]">
                    <div class="video">
                        <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="owner">
        <div class="owner_title">
            <img [src]="owner.imgUrl" onerror="this.src='../../../assets/images/default-user-image.png'" alt="photo">
            <div class="owner_name">
                <b>{{owner.name}} {{owner.surname}}</b>
                <span>UI/UX Designer</span>
            </div>
        </div>
        <div class="owner_info">
            <div class="biography">
                <div class="title">
                    <span>Biography</span>
                    <i [class.d-none]="biographyOpenState" (click)="biographyOpenState=true" class="fa fa-angle-down" aria-hidden="true"></i>
                    <i [class.d-none]="!biographyOpenState" (click)="biographyOpenState=false" class="fa fa-angle-up" aria-hidden="true"></i>
                </div>
                <p [class.d-none]="!biographyOpenState">
                    If you wanna improve look no further Teaching fee is going to be 20 US Dollar per hour About Me Hello everyone. I am Yousuf Azeem Makhdoomi. A title holder and National Master from Pakistan. I started playing chess in the year of 2006, because many..
                </p>
            </div>
            <div class="contact">
                <div class="title">
                    <span>Contact information</span>
                    <i [class.d-none]="contactOpenState" (click)="contactOpenState=true" class="fa fa-angle-down" aria-hidden="true"></i>
                    <i [class.d-none]="!contactOpenState" (click)="contactOpenState=false" class="fa fa-angle-up" aria-hidden="true"></i>
                </div>
                <div class="contact_info" [class.d-none]="!contactOpenState">
                    <span>info@pixsellz.io</span>
                    <span>371 Adrien Prairie Suite 538 Palo Alto, CA</span>
                    <span>+994555555555 <a target="blank" href="https://api.whatsapp.com/send?phone=+994555555555"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></span>
                </div>
            </div>
            <div class="certificate">
                <div class="title">
                    <span>Certificates (documents)</span>
                    <i [class.d-none]="certificateOpenState" (click)="certificateOpenState=true" class="fa fa-angle-down" aria-hidden="true"></i>
                    <i [class.d-none]="!certificateOpenState" (click)="certificateOpenState=false" class="fa fa-angle-up" aria-hidden="true"></i>
                </div>
                <div class="row" [class.d-none]="!certificateOpenState">
                    <div class="col-sm-6 col-lg-4 col-xl-3 mb-3" *ngFor="let item of [0,1,2,3]">
                        <div class="certificate_photo">
                            <img src="../../../assets/images/istockphoto-1034467592-612x612.jpg" alt="">
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="similar_announcement">
        <span class="similar_announcement_title">Similar announcements</span>
        <div class="row announce_row">
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 d-flex align-items-stretch" *ngFor="let similarAnnouncement of similarAnnouncements">
                <div class="card">
                    <img class="card-img-top" [src]="similarAnnouncement.imgUrl" onerror='this.src="../../../assets/images/defaultImg.jpg"' alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{similarAnnouncement.name}}</h5>
                        <p class="card-text">
                            <span class="price" *ngIf="similarAnnouncement.price!=0">{{similarAnnouncement.price | currency}}</span>
                            <span class="price" *ngIf="similarAnnouncement.price==0">Free</span>
                            <span class="owner"> by <a>{{owners[similarAnnouncement.ownerId-1].name}} {{owners[similarAnnouncement.ownerId-1].surname}}</a></span>
                            <i *ngFor="let item of [0,1,2,3,4]" class="fa fa-star" aria-hidden="true"></i>
                            <a class="detail" [routerLink]="['/announcement-detail',similarAnnouncement.id]">Detail
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>