<div class="announce_detail">
    <ul class="link_steps">
        <li routerLink="/home">Home</li>
        <li>Announcement detail</li>
    </ul>
    <div class="announce_detail_title">
        <div>
            <span *ngIf="!announcement.serviceType">Offline</span> {{announcement.name}}
        </div>
        <div class="rating">
            <i [class.activeRate]="i<=activeRate" *ngFor="let item of [0,1,2,3,4];index as i" (mouseover)="hoverStar(i)" (mouseleave)="leaveStar(i)" (click)="rate(i)" class="fa fa-star" aria-hidden="true"></i>
        </div>
    </div>
    <div *ngIf="!!announcement.imgUrl" class="announcement_img">
        <img [src]="announcement.imgUrl" alt="photo">
    </div>
    <div class="announcement_info">
        <div class="key-value">
            <span class="key">Type</span>
            <span class="value" *ngIf="announcement.price==0">Volunteering service</span>
            <span class="value" *ngIf="announcement.price!=0">Business service</span>
        </div>
        <div class="key-value">
            <span class="key">Category</span>
            <span class="value">Education</span>
        </div>
        <div class="key-value">
            <span class="key">Location</span>
            <span class="value" *ngIf="announcement.serviceType">Online</span>
            <span class="value" *ngIf="!announcement.serviceType">Baku</span>
        </div>

        <div class="key-value">
            <span class="key">Price</span>
            <span class="value price" *ngIf="announcement.price">{{announcement.price | currency}}</span>
            <span class="value price" *ngIf="!announcement.price">Free</span>
        </div>

        <div class="about_announcement">
            <div class="title">
                <span>About Announcement</span>
                <i [class.d-none]="aboutOpenState" (click)="aboutOpenState=true" class="fa fa-angle-down" aria-hidden="true"></i>
                <i [class.d-none]="!aboutOpenState" (click)="aboutOpenState=false" class="fa fa-angle-up" aria-hidden="true"></i>
            </div>
            <p [class.d-none]="!aboutOpenState">{{announcement.description}}</p>
        </div>
        <div class="announcement_requirement">
            <div class="title">
                <span>Requirements</span>
                <i [class.d-none]="requirementOpenState" (click)="requirementOpenState=true" class="fa fa-angle-down" aria-hidden="true"></i>
                <i [class.d-none]="!requirementOpenState" (click)="requirementOpenState=false" class="fa fa-angle-up" aria-hidden="true"></i>
            </div>
            <p [class.d-none]="!requirementOpenState">B system is the design system that will help you create your digital brand and its application to digital touch points.</p>
        </div>
        <div class="videos">
            <div class="title">
                <span>Videos</span>
                <i [class.d-none]="videoOpenState" (click)="videoOpenState=true" class="fa fa-angle-down" aria-hidden="true"></i>
                <i [class.d-none]="!videoOpenState" (click)="videoOpenState=false" class="fa fa-angle-up" aria-hidden="true"></i>
            </div>
            <ng-image-slider *ngIf="videoOpenState" [images]="videos" #nav></ng-image-slider>

        </div>
    </div>

    <div class="owner">
        <div class="owner_title">
            <img [src]="owner.imgUrl" onerror="this.src='../../../assets/images/default-user-image.png'" alt="photo">
            <div class="owner_name">
                <b>{{owner.name}} {{owner.surname}}</b>
                <span>UI/UX Designer</span>
            </div>
        </div>
        <div class="owner_info">
            <div class="biography">
                <div class="title">
                    <span>Biography</span>
                    <i [class.d-none]="biographyOpenState" (click)="biographyOpenState=true" class="fa fa-angle-down" aria-hidden="true"></i>
                    <i [class.d-none]="!biographyOpenState" (click)="biographyOpenState=false" class="fa fa-angle-up" aria-hidden="true"></i>
                </div>
                <p [class.d-none]="!biographyOpenState">
                    If you wanna improve look no further Teaching fee is going to be 20 US Dollar per hour About Me Hello everyone. I am Yousuf Azeem Makhdoomi. A title holder and National Master from Pakistan. I started playing chess in the year of 2006, because many..
                </p>
            </div>
            <div class="contact">
                <div class="title">
                    <span>Contact information</span>
                    <i [class.d-none]="contactOpenState" (click)="contactOpenState=true" class="fa fa-angle-down" aria-hidden="true"></i>
                    <i [class.d-none]="!contactOpenState" (click)="contactOpenState=false" class="fa fa-angle-up" aria-hidden="true"></i>
                </div>
                <div class="contact_info" [class.d-none]="!contactOpenState">
                    <div>
                        <a target="blank" href="mailto:someone@example.com">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </a>
                        <span>info@pixsellz.io</span>
                    </div>
                    <div>
                        <a target="blank" href="https://maps.google.com/?q=Baku">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </a>
                        <span>371 Adrien Prairie Suite 538 Palo Alto, CA</span>
                    </div>
                    <div>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <span>+994555555555</span>
                    </div>
                    <div>
                        <a target="blank" href="https://api.whatsapp.com/send?phone=+994555555555">
                            <i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                        <span>+994555555555</span>
                    </div>
                    <div>
                        <a target="blank" href="https://t.me/+994555555555">
                            <i class="fa fa-telegram" aria-hidden="true"></i></a>
                        <span>+994555555555</span>
                    </div>
                </div>
            </div>
            <div class="certificate">
                <div class="title">
                    <span>Certificates</span>
                    <i [class.d-none]="certificateOpenState" (click)="certificateOpenState=true" class="fa fa-angle-down" aria-hidden="true"></i>
                    <i [class.d-none]="!certificateOpenState" (click)="certificateOpenState=false" class="fa fa-angle-up" aria-hidden="true"></i>
                </div>
                <ng-image-slider *ngIf="certificateOpenState" [images]="certificateImages" #nav></ng-image-slider>
            </div>
            <div class="diploma">
                <div class="title">
                    <span>Diplomas</span>
                    <i [class.d-none]="diplomaOpenState" (click)="diplomaOpenState=true" class="fa fa-angle-down" aria-hidden="true"></i>
                    <i [class.d-none]="!diplomaOpenState" (click)="diplomaOpenState=false" class="fa fa-angle-up" aria-hidden="true"></i>
                </div>
                <ng-image-slider *ngIf="diplomaOpenState" [images]="diplomaImages" #nav></ng-image-slider>
            </div>
        </div>

    </div>
    <div class="similar_announcement">
        <span class="similar_announcement_title">Similar announcements</span>
        <div class="row announce_row">
            <div class="col-xl-3 col-lg-4 col-sm-6 d-flex align-items-stretch" *ngFor="let similarAnnouncement of similarAnnouncements">
                <div class="card">
                    <div class="card-img-top" [style.backgroundImage]="'url('+ similarAnnouncement.imgUrl +')'" *ngIf="similarAnnouncement.imgUrl"></div>
                    <div class="card-img-top" *ngIf="!similarAnnouncement.imgUrl"></div>
                    <div class="card-body">
                        <h5 class="card-title">{{similarAnnouncement.name}}</h5>
                        <p class="card-text">
                            <span class="price" *ngIf="similarAnnouncement.price!=0">{{similarAnnouncement.price |
                                currency}}</span>
                            <span class="price" *ngIf="similarAnnouncement.price==0">Free</span>
                            <span class="owner"> by <a>{{owners[similarAnnouncement.ownerId-1].name}}
                                    {{owners[similarAnnouncement.ownerId-1].surname}}</a></span>
                            <i *ngFor="let item of [0,1,2,3,4]" class="fa fa-star" aria-hidden="true"></i>
                            <a class="detail" [routerLink]="['/announcement-detail',similarAnnouncement.id]">Detail
                                <img src="../../../assets/images/arrow.png" alt="arrow">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>