        @import '../../../styles.scss';
        .registration {
            padding: 50px $containerDistance;
            .link_steps {
                @include linkSteps;
            }
            .register_row {
                margin-top: 50px;
                form {
                    .form-field {
                        @include form-field;
                    }
                    .file {
                        @include fileUpload;
                    }
                    .btn[type=submit] {
                        @include button;
                        width: 100%;
                        margin-top: 20px;
                        &:hover {
                            opacity: 0.9;
                        }
                    }
                }
                .profil {
                    text-align: center;
                    .profilPhoto {
                        position: relative;
                        display: inline-block;
                        height: 134px;
                        width: 134px;
                        img {
                            border-radius: 50%;
                            height: 100%;
                            width: 100%;
                        }
                        i {
                            cursor: pointer;
                            border: 1px solid lightgray;
                            border-radius: 50%;
                            height: 36px;
                            width: 36px;
                            position: absolute;
                            bottom: 10px;
                            right: 0;
                            color: lightgray;
                            background-color: #fff;
                            padding: 10px;
                            text-align: center;
                        }
                    }
                    .remove_photo {
                        cursor: pointer;
                        color: $primaryColor;
                        display: inline-block;
                        margin-top: 10px;
                        i {
                            margin-right: 5px;
                        }
                        &:hover {
                            color: red;
                        }
                    }
                }
            }
        }
        
        .my_announcements {
            padding: 50px $containerDistance;
            .title {
                margin-bottom: 40px;
                span {
                    font-size: 20px;
                    font-weight: 500;
                }
                .search {
                    @include search;
                    float: right;
                    position: relative;
                    i {
                        position: absolute;
                        right: 5px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
            .row {
                border: 1px solid #F7F7F7;
                padding: 20px;
                .date {
                    background-color: #F7F7F7;
                    position: relative;
                    min-height: 100%;
                    span {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                .name {
                    .announcement_name {
                        font-size: 15px;
                        line-height: 24px;
                        font-weight: 500;
                        display: block;
                    }
                }
                .edit {
                    position: relative;
                    .btn {
                        position: relative;
                        color: white;
                        width: 45%;
                        top: 50%;
                        transform: translateY(-50%);
                        &:first-child {
                            background-color: $primaryColor;
                        }
                        &:last-child {
                            background-color: #EF0021;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
        
        @media (max-width:992px) {
            .registration {
                padding: 50px $containerDistance-md;
                .register_row {
                    >div {
                        margin-bottom: 20px;
                    }
                }
            }
            .my_announcements {
                padding: 50px $containerDistance-md;
            }
        }
        
        @media (max-width:768px) {
            .registration {
                padding: 50px $containerDistance-sm;
            }
            .my_announcements {
                padding: 50px $containerDistance-sm;
                .row {
                    text-align: center;
                    >div {
                        margin: 10px;
                    }
                }
            }
        }