<nav>
    <div>
        <i (click)="menuOpenState=!menuOpenState" class="fa fa-bars" aria-hidden="true"></i>
        <span class="brand" routerLink='/'>Trustfull</span>
        <div class="menu">
            <ul class="menu_list">
                <li (click)="scrollAnnouncements()">Announcements</li>
                <li (click)="scrollContact()">Contact</li>
            </ul>
            <mat-form-field>
                <mat-select [(value)]="language">
                    <mat-option value="Az">Az</mat-option>
                    <mat-option value="En">En</mat-option>
                    <mat-option value="Ru">Ru</mat-option>
                </mat-select>
            </mat-form-field>
            <button routerLink='log-in' class="login_button" mat-raised-button>Log-in
                <i class="fa fa-user-o" aria-hidden="true"></i></button>
        </div>
        <div class="expand_menu" [class.d-none]="!menuOpenState">
            <div>Announcements</div>
            <div>Contact</div>
            <div>Favorites</div>
            <mat-accordion>
                <mat-expansion-panel (opened)="languagePanelOpenState = true" (closed)="languagePanelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Select language
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Azerbaijan</p>
                    <p>English</p>
                    <p>Russian</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <i routerLink='log-in' class="fa fa-user-o" aria-hidden="true"></i>
    </div>
</nav>