<div class="announcement">
    <div class="category_list">
        <div class="category">
            <span [class.active]="i==activeCategoryId" (mouseover)="hoverCategory(i)" (mouseleave)="leaveCategory(i)" (click)="changeCategory(i)" *ngFor="let category of categories; index as i">
            {{category.name | titlecase }}
        </span>
        </div>
    </div>
    <div class="empty" *ngIf="announcements.length==0">
        <div class="img"></div>
        <span>There is no announcement in this category yet</span>
    </div>
    <div *ngIf="announcements.length!=0" class="announcement_list">
        <div class="filter_row">
            <div class="most">
                <span class="most_recent">Most recent</span>
                <span class="most_relevant">Most relevant</span>
            </div>
            <div class="filter">
                <div class="filter d-none d-sm-inline">
                    <button (click)="filterLineOpenState=!filterLineOpenState" class="btn">
                        Filters
                        <img src="../../../assets/images/Filters.png" alt="">
                    </button>
                </div>
                <div class="icons d-sm-none">
                    <img (click)="filterLineOpenState=!filterLineOpenState" src="../../../assets/images/Filters.png" alt="">
                </div>
            </div>
        </div>

        <div [class.d-none]="filterLineOpenState" class="filter_line">
            <div class="row">
                <div class="col-md-4">
                    <div class="search">
                        <input placeholder="Search" type="text" class="form-control">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="filter_location col-md-2 col-6">
                    <select name="" id="">
                    <option selected disabled value="">Select Location</option>
                    <option value="">Baku</option>
                    <option value="">Quba</option>
                </select>
                </div>
                <div class="location_type col-md-2 col-6">
                    <select name="" id="">
                <option selected disabled value="">Location Type</option>
                    <option value="">Online</option>
                    <option value="">Offline</option>
                </select>
                </div>
                <div class="service_type col-md-2 col-6">
                    <select name="" id="">
                <option selected disabled value="">Business Type</option>
                    <option value="">Free</option>
                    <option value="">Business</option>
                </select>
                </div>
                <div class="price col-md-2 col-6">
                    <select name="" id="">
                <option selected disabled value="">Price</option>
                    <option value="">Greater than 100$</option>
                    <option value="">Greater than 200$</option>
                    <option value="">Greater than 500$</option>
                    <option value="">Greater than 1000$</option>
                </select>
                </div>
            </div>
        </div>
        <div class="row announce_row">
            <div class="col-xl-3 col-lg-4 col-sm-6 d-flex align-items-stretch" *ngFor="let announcement of announcements | paginate: { id: 'page',
            itemsPerPage: 8,
            currentPage: currentPage,
            totalItems: total}">
                <div class="card">
                    <div class="card-img-top" [style.backgroundImage]="'url('+ announcement.imgUrl +')'" *ngIf="announcement.imgUrl"></div>
                    <div class="card-img-top" *ngIf="!announcement.imgUrl"></div>
                    <div class="card-body">
                        <h5 class="card-title">{{announcement.name}}</h5>
                        <p class="card-text">
                            <span class="price" *ngIf="announcement.price!=0">{{announcement.price | currency}}</span>
                            <span class="price" *ngIf="announcement.price==0">Free</span>
                            <span class="owner"> by {{owners[announcement.ownerId-1].name}}
                                {{owners[announcement.ownerId-1].surname}}</span>
                            <i *ngFor="let item of [0,1,2,3,4]" class="fa fa-star" aria-hidden="true"></i>
                            <a class="detail" [routerLink]="['/announcement-detail',announcement.id]">Detail
                                <img src="../../../assets/images/arrow.png" alt="arrow">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination_controls">
            <pagination-controls maxSize="5" directionLinks="true" autoHide="true" responsive="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page" id="page"
                (pageChange)="pageChanged($event)" (pageBoundsCorrection)="pageChanged($event)"></pagination-controls>
        </div>
    </div>
</div>