@import '../../../styles.scss';
.announcement {
    .category_list {
        margin: 0 $containerDistance;
        .category {
            overflow: auto;
            margin: 0 auto;
            height: 76px;
            overflow-y: hidden;
            display: flex;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
            span {
                display: inline-block;
                height: 76px;
                line-height: 76px;
                padding: 0 26px;
                font-size: 15px;
                font-weight: 500;
                cursor: pointer;
                &.active {
                    background-color: #F7F7F7;
                    border-bottom: 2px solid black;
                }
                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }
    .empty {
        @include empty;
    }
    .announcement_list {
        border-top: 2px solid #F7F7F7;
        border-bottom: 2px solid #F7F7F7;
        padding: 70px $containerDistance 69px;
        .filter_row {
            height: 40px;
            margin-bottom: 39px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .most {
                span {
                    font-size: 15px;
                    line-height: 24px;
                    font-weight: 400;
                    cursor: pointer;
                    &.most_recent {
                        padding-right: 16px;
                        margin-right: 16px;
                        border-right: 1px solid #DEDEDE;
                    }
                    &:hover {
                        color: $primaryColor;
                    }
                }
            }
            .filter {
                >div {
                    height: 40px;
                }
                .filter {
                    .btn {
                        padding: 8px 24px;
                        border: 1px solid lightgray;
                        font-size: 15px;
                        line-height: 24px;
                        font-weight: 700;
                        img {
                            margin-left: 12px;
                        }
                        &:focus {
                            box-shadow: none;
                        }
                    }
                }
                .icons {
                    position: relative;
                    img {
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        cursor: pointer;
                    }
                }
            }
        }
        .filter_line {
            @include filter-line;
        }
        .announce_row {
            @include card;
        }
        .see_more {
            text-align: center;
            margin-top: 20px;
            a {
                color: #000;
                font-size: 15px;
                line-height: 24px;
                font-weight: 500;
                &:hover {
                    color: $primaryColor;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .announcement {
        .announcement_list {
            padding: 74px $containerDistance 72px;
            .filter_row {
                margin-bottom: 42px;
            }
        }
    }
}

@media (max-width: 992px) {
    .announcement {
        .category_list {
            margin: 0 24px;
        }
        .announcement_list {
            padding: 58px 24px 48px;
            .filter_row {
                margin-bottom: 34px;
            }
        }
    }
}

@media (max-width: 768px) {
    .announcement {
        .category_list {
            margin: 0 30px;
        }
        .announcement_list {
            padding: 48px 30px;
            .filter_row {
                margin-bottom: 32px;
            }
        }
    }
}

.pagination_controls ::ng-deep .ngx-pagination {
    text-align: center;
    * {
        &:focus {
            outline: none;
        }
    }
}